Question 1.

In [38]:
marks = int(input(" Total marks obtained by the student :",))
if marks > 90 and marks <= 100:
    print('Congrats, you get "A" ')
elif marks > 80 and marks <=90:
    print('Congrats, you get "B" ')
elif marks <=80 and marks >= 60:
    print('Congrats, you get  "C" ')
elif marks < 60 and marks >0 :
    print('Sorry, you get "D" ')
else:
    print('invalid Marks')

 Total marks obtained by the student : 106

invalid numbers

Question 2.

In [42]:
Bike_price = int(input('Cost price of the bike'))
if Bike_price > 100000:
    Bike_price = ('Cost price including tax :', Bike_price*1.15)
    print(Bike_price)
if Bike_price > 50000 and Bike_price <= 100000:
    print('Cost price including tax :',Bike_price*1.10 )
if Bike_price <= 50000 and Bike_price >=10000 :
    print('Cost price including tax :', Bike_price*1.05)
else:
    print('Invalid price')

Cost price of the bike 50000

Cost price including tax : 52500.0

Question 3.

In [44]:
Indian_city = {"Delhi":"Red fort", "Agra":"Taj Mahal","Jaipur":"Agra"}
print(Indian_city["Delhi"])
print(Indian_city["Agra"])
print(Indian_city["Jaipur"])

Red fort
Taj Mahal
Agra

Question 4. Check how many times a number divided by three before it is less than or equal to 10.

In [3]:
## number divisible by three
n = int(input('fill number:'))
if n%3 == 0:
    print('The number is divided by 3')
else:
    print('The number is not divided by 3')

fill number: 78

The number is divided by 3

Question 5. Why and when to use while loop in python give a detailed description with example. 

Answer =  Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied.
A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.

In [4]:
## Example of while loop.
i = 1
n = 5
while i <= n:
    print(i)
    i = i+1

1
2
3
4
5

Question 6. Use nested while loop to print 3 different pattern.

In [11]:
n = int(input('enter number of rows'))
i = 1
while i <= n:
    j = 1
    while j <= i:
        print('*', end = " ")
        j += 1
    print()
    i += 1

enter number of rows 4

*
* *
* * *
* * * *

In [15]:
n = int(input('enter numbers of rows'))
i = n
while i >= 1:
    j = 1
    while j <= i:
        print('*', end = " ")
        j += 1
    print()
    i -= 1

enter numbers of rows 4

* * * *
* * *
* *
*

In [16]:
n = int(input('enter numbers of rows'))
i = n
while i >= 1:
    j = 1
    while j <= i:
        print('*', end = " ")
        j += 1
    print()
    i -= 1


i = 1
while i <= n:
    j = 1
    while j <= i:
        print('*', end = " ")
        j += 1
    print()
    i += 1

enter numbers of rows 4

* * * *
* * *
* *
*
*
* *
* * *
* * * *

Question 7. Reverse a while loop to display numbers from 10 to 1.

In [27]:
## Reverse while loop 10 to 1
i = 10
while i >= 1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

9